body{
    background-size: cover;
}
.button{
   text-align: center; 
   height: 700;
}
.a1{
    width: 300px;
    border-radius: 50px;
    font-size: 23px;
}
.a2{
    width: 300px;
    border-radius: 50px;
    font-size: 23px;
}
.a3{
    width: 300px;
    border-radius: 50px;
    font-size: 23px;
}
.a4{
    width: 300px;
    border-radius: 50px;
    font-size: 23px;
}
.a5{
    width: 300px;
    border-radius: 50px;
    font-size: 23px;
}

